/*
Colors used:
Background: #ffffff
Font: #262626
Primary: #006699 (blue) #ffcc66 (yellow)
Secondary: #9dcd93 (green) #a96363(red-ish) #f2ebc6 (beige) #387f55 (darker green) #DEF1EF (light baby blue)
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #DEF1EF;
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 2px 2px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%
}

body {
  background-color: #ffffff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

#hero {
  background-color: #DEF1EF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #DEF1EF;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  padding: 20px 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  padding: 10px 0;
}

img {
  width: 100%;
}

a {
  /* No underlining */
  color: #006699;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #006699;
}

a:hover,
a:focus {
  color: #ffcc66;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline;
  background-color: #387f55;
  color: #ffffff !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #387f55 !important;
  text-transform: uppercase;
  border: 2px solid #387f55;
}

.button.contact:hover {
  background-color: #387f55;
  color: #ffffff !important;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /*25px top-bottom, 0 left-right*/
}

#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.logo {
  max-width: 60px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #4a4a4a;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #4a4a4a;
  color: #ffcc66;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #994c30;
}

main {
  padding-top: 133px;
}

.social {
  max-width: 50px;
  display: inline-block;
  margin-top: 40px;
}

.social:hover {
  opacity: 0.8;
  text-decoration: none;
}

#story {
  margin-top: 20px;
}

#process {
  margin-top: 20px;
}

#story.container {
  max-width: 100px;
}

#process.container {
  max-width: 100px;
  margin-top: 20px;
}

.img {
  max-width: 350px;
}

#img2 {
  max-width: 550px;
}